<%= render 'hero_slides' %>
<section class="hot-job-list">
  <div class="container">
    <div class="index-job-header clearfix">
      <h2>热门岗位</h2>
      <ul id="myTab">
        <li class="active"><a href="javascript:;">最新发布</a></li>
        <li><a href="javascript:;">精品推荐</a></li>
        <li><a href="javascript:;">热门排行</a></li>
      </ul>
    </div>
    <div class="job-panels clearfix">
      <% Job.first(4).each do |job| %>
      <div class="panel panel-default job-panel">
        <div class="panel-heading"><%= job.name %></div>
        <div class="panel-body">
          <div class="salary-wrapper">
            <%= image_tag "applicant/dollar.jpg" %>
            <span class="salary"><%= job.wage %> 元/月</span>
          </div>
          <div class="requirements">
            <span><%= job.name %></span>
            <span><%= render_common_gender job %></span>
            <!-- <span>18~30岁</span> -->
          </div>
          <div>
            <span>招聘<%= render_common_gender_count job %>人</span>
          </div>
          <div class="location">
            <i class="fa fa-map-marker"></i>
            <span><%= job.company.address %></span>
            <i class="fa fa-clock-o"></i>
            <span><%= job.created_at.strftime("%Y-%m-%d") %></span>
          </div>
          <!-- <label class="ghost-label">包吃包住</label>
          <label class="ghost-label">饭补</label>
          <label class="ghost-label">年终奖</label> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<section class="recommend-company">
  <div class="container">
    <div class="recommend-companies-header">
      <h3><span>合作企业</span></h3>
      <div>深度合作，探索最便捷行业招聘方案</div>
    </div>
    <div class="row home-page-companies-slides">
      <div class="col-md-3 col-sm-6">
        <div class="company-card-item">
          <%= image_tag "applicant/company-1.jpg", class: "company-avatar" %>
          <p class="company-name">订餐小秘书（上海）有限公司</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="company-card-item">
          <%= image_tag "applicant/company-2.jpg", class: "company-avatar" %>
          <p class="company-name">禾健营养有限公司</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="company-card-item">
          <%= image_tag "applicant/company-3.jpg", class: "company-avatar" %>
          <p class="company-name">杭州有络软件有限公司</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="company-card-item">
          <%= image_tag "applicant/company-4.jpg", class: "company-avatar" %>
          <p class="company-name">顺丰速运</p>
        </div>
      </div>
    </div>
    <label class="update-label">已更新127家企业</label>
  </div>
  <div class="container">
    <%= image_tag "applicant/mingqi.jpg" %>
  </div>
</section>
<section class="unicorn-companies">

  <p class="what-we-do">
    <span>信息时代，淘帮忙帮您建立更好的招聘计划</span>
    <%= link_to '我要合作', new_enterprise_session_path, class: 'join-us' %>
  </p>
</section>

<section class="news-feed clearfix">
  <div class="container">
    <div class="row">
      <div class="panel panel-default stats col-md-4">
        <div class="panel-heading">统计</div>
        <div class="panel-body">
          <div class="daily-stats">
            <ul class='col-md-6'>
              <li>
                <%= image_tag ("applicant/suitcase.jpg") %>
                <span class="text"> 今日发布岗位
                  <p><span class="num">97</span>个<p>
                </span>
              </li>
              <li>
                <%= image_tag ("applicant/suitcase.jpg") %>
                <span class="text"> 本月发布岗位
                  <p><span class="num">829</span>个<p>
                </span>
              </li>
              <li>
                <%= image_tag ("applicant/suitcase.jpg") %>
                <span class="text"> 本年发布岗位
                  <p><span class="num">829</span>个<p>
                </span>
              </li>
            </ul>
            <ul class='col-md-6'>
              <li>
                <%= image_tag ("applicant/people.jpg") %>
                <span class="text">
                  今日招聘人数
                  <p><span class="num">29</span>人</p>
                </span>
              </li>
              <li>
                <%= image_tag ("applicant/people.jpg") %>
                <span class="text">
                  本月招聘人数
                  <p><span class="num">53</span>人</p>
                </span>
              </li>
              <li>
                <%= image_tag ("applicant/people.jpg") %>
                <span class="text">
                  本年招聘人数
                  <p><span class="num">53</span>人</p>
                </span>
              </li>
            </ul>


          </div>


        </div>
      </div>
      <div class="panel panel-default jobs-feed col-md-4">
        <div class="panel-heading">最新招聘信息</div>
        <div class="panel-body">
          <p> <span class="enterprise-title">上海元析仪器有限公司</span> <span class="pub-time">3小时前</span> 发布了招聘信息</p>
          <p> <span class="enterprise-title">苏州市润江电子有限公司</span> <span class="pub-time">6小时前</span> 发布了招聘信息</p>
          <p> <span class="enterprise-title">旭辉集团苏州公司</span> <span class="pub-time">8小时前</span> 发布了招聘信息</p>
          <p> <span class="enterprise-title">芯禾科技</span> <span class="pub-time">8小时前</span> 发布了招聘信息</p>
          <p> <span class="enterprise-title">苏州高新科技</span> <span class="pub-time">11小时前</span> 发布了招聘信息</p>
          <p> <span class="enterprise-title">顺丰速运</span> <span class="pub-time">20小时前</span> 发布了招聘信息</p>
        </div>
      </div>
      <div class="panel panel-default appoint-feed col-md-4">
        <div class="panel-heading">工友报名信息</div>
        <div class="panel-body">
          <p><a href="/" class="pub-gong">上海益服企业管理有限公司</a> 给 <span class="pub-gong">上海元析仪器有限公司</span> 普工 送去工友 <span class="pub-time">30</span>位</p>
          <p><a href="/" class="pub-gong">上海川周路就业服务站</a> 给 <span class="pub-gong">满溢百货</span> 普工 送去工友 <span class="pub-time">30</span>位</p>
          <p><a href="/" class="pub-gong">城阳区粥全粥到上豪广场店</a> 给 <span class="pub-gong">青岛拜占庭木业有限公司</span> 普工 送去工友 <span class="pub-time">30</span>位</p>
          <p><a href="/" class="pub-gong">上海  福星大厦就业服务站</a> 给 <span class="pub-gong">威海石岛渔港</span> 普工 送去工友 <span class="pub-time">30</span>位</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="infomation">
  <div class="container">
    <div class="row">
      <div class="col-md-8 left-info">
        <ul class="info-links clearfix">
          <li><h4>行业资讯</h4></li>
          <li><a href="/">最新发布</a></li>
          <li><a href="/">精品推荐</a></li>
          <li><a href="/">热门排行</a></li>
          <li class="pull-right"><a href="/">更多</a></li>
        </ul>
        <ul class="news-list">
          <li class="row">

            <%= image_tag "applicant/hot.jpg", class: "col-md-4"%>
            <div class="new-content col-md-8">
              <h4>今天阎王不在家</h4>
              <span>大王派我来巡山喽~　　今天阎王不在家，小鬼来当家，　　出去扮人要糖果好嘛好开心。　　今天阎王不在家，群魔来乱舞，　　南瓜、萝卜齐...</span></br>
              <a href="/">查看全部&gt;</a>
            </div>
          </li>
          <li class="row">

            <%= image_tag "applicant/hot.jpg", class: "col-md-4"%>
            <div class="new-content col-md-8">
              <h4>今天阎王不在家</h4>
              <span>大王派我来巡山喽~　　今天阎王不在家，小鬼来当家，　　出去扮人要糖果好嘛好开心。　　今天阎王不在家，群魔来乱舞，　　南瓜、萝卜齐...</span></br>
              <a href="/">查看全部&gt;</a>
            </div>
          </li>
          <li class="row">

            <%= image_tag "applicant/hot.jpg", class: "col-md-4"%>
            <div class="new-content col-md-8">
              <h4>今天阎王不在家</h4>
              <span>大王派我来巡山喽~　　今天阎王不在家，小鬼来当家，　　出去扮人要糖果好嘛好开心。　　今天阎王不在家，群魔来乱舞，　　南瓜、萝卜齐...</span></br>
              <a href="/">查看全部&gt;</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4 right-info">
        <div class="clearfix">
          <h4 class="pull-left">行业资讯</h4>
          <a class="pull-right" href="/">更多</a>

        </div>
        <div class="feeds-list ">
          <p><%= image_tag "applicant/hang1.jpg"%></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
          <p>职场微信，教你升职加薪技巧不是事! <span class='navbar-right'>2015-08-06</span></p>
        </div>
      </div>
    </div>
  </div>
</section>
