<header>
  <nav id="top-nav" class="navbar navbar-static-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p>
          欢迎致电：<span class="call-us">400－056－2618</span>
        </p>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to '招聘方', zhao_root_path %>
        </li>
        <li>
          <%= link_to '经纪人', song_root_path %>
        </li>

        <li>
          <%= link_to '企业HR', hr_root_path %>
        </li>
        <li><a href="/pages">帮助中心</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-default site-head">
    <div class="container">
      <div class="navbar-header">
        <a href="/"><%= image_tag "applicant/logo.jpg" %></a>
      </div>
      <ul class="nav navbar-nav nav-left">
        <li class="active"><a href="/">首页</a></li>
        <li class="category-menu">
          <input type="checkbox" id="c-menu"></input>
          <a href="javascript:;">
            <label for="c-menu">所有职位</label>
          </a>
        </li>
        <li>
          <%= link_to '我要招聘', zhao_root_path %>
        </li>
        <li>
          <%= link_to '我要送人', song_root_path %>
        </li>

        <li>
          <%= link_to '企业HR', hr_root_path %>
        </li>
        <li><a href="/pages/about">关于我们</a></li>
        <li><a href="/contact">联系我们</a></li>
      </ul>

        <ul class="nav user-bar navbar-nav navbar-right">
          <% unless enterprise_signed_in? -%>
            <li>
              <%= link_to '登录', new_enterprise_session_path %>
            </li>
            <li>
              <a>|</a>
            </li>
            <li>
              <%= link_to '注册', new_enterprise_registration_path %>
            </li>
          <% else -%>
            <li>
              <%= link_to destroy_enterprise_session_path, method: :delete do %>
               <%= current_enterprise.name %>
              <% end -%>
            </li>
          <% end -%>
        </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="nav-search hidden-xs">
          <form class="navbar-form form-search" action="/search" method="GET">
            <div class="form-group">
              <input type="checkbox" id="toggle-search"></input>
              <input class="form-control search-input" autofocus=true name="q" type="text" value="" placeholder="搜索本站内容">
              <label for="toggle-search" class="fa btn-search fa-search"></label>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</header>
